html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: sans-serif,arial;
  font-size: 12px;
  margin:0px 0px;
}

h1 {
  text-align: center;
}

.footer {
  font-color:grey;
  font-size:0.8em;
  margin-top:30px !important;
}

label {
  display:block;
  font-size:1.5em
}

.question-form textarea {
  height:150px;
  width: 280px;
}

.centered {
   width: 90%;
  margin: 0 auto;
  text-align: center;
}

.intro {
  text-align: center;
}

.intro p, .intro ol {
  font-size: 1.5em
}

div.hexa_id {
  text-align:center;
  font-size:1.3em;
  color:grey;
  font-weight: bold;
}

table.hexa_table td {
  border: 1px black solid;
  background: lightyellow;
}

table.hexa_table img {
  width: 45px;
 
}

table.hexa_table a {
  text-decoration: none;
}

table.hexa_table {
  margin: 0 auto;
}

div.coins-area {
  height:300px;
  border: 1px lightgray dotted;
}

div.progress-area {
  width: 90%;
  height: 10px;
  border: 1px lightgrey solid;
  margin:0 auto -1px auto;
  
}

div.progress-bar {
  background-color: green;
  height: 10px;
}

.coins-area .instructions {
  text-align: center;
  font-size: 2em;
  font-style:italic;
  margin-top:1em;
}

.coins-area .remaing-msg {
  font-size: 1.5em;
  text-align: center;
}

.coin {
  width:80px;
  height:80px;
  position:relative;
  float:left;
  margin-right: 4px
}

.coin.reverse {
  background: url("/img/coin-reverse.png") no-repeat;
}

.coin.obverse {
  background: url("/img/coin-obverse.png") no-repeat;
}

.coin.small {
  background-size: 50px;
  width:50px;
  height:50px;
}

.coins{
  width:252px;
  margin: 10px auto;
  margin-top: 40px;
  
}

ul.throws-area {
  list-style:none;
  margin: 40px 0 20px 0;
  padding: 0;
}

ul.throws-area li {
  height:50px;
  margin-bottom: 10px;
}

span.throw-no {
  display:block;
  float:left;
  font-size: 44px;
  
}

span.throw-no:after {
  content: ".";
  margin-right: 5px;
    
}

span.throw-result {
  font-size: 44px;
  display:inline-block;
  margin: -3px 0 0 5px;
}

.throws-wrap {
  width:300px;
  margin: 0 auto;
}

.next-btn {
  font-size: 2.5em;
  width:290px;
  background-color: black;
  color:white;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  margin: 20px auto;
  display:block;
  text-decoration: none;
  border:none;
  font-weight: bold;
}

ul.lines-list {
  list-style:none;
  padding: 0px;
}

.more-info {
  width:32px;
  height:32px;
  background: url('/img/info.svg') no-repeat;
  background-size: 32px auto;
  cursor:pointer;
  display: inline-block;
  vertical-align: middle;
}

.predication {
  font-style:italic;
  font-size:1.4em;
}

.trigram {
  width:200px;
  height:34px;
  float:left;
  text-align: left;
  border-top: lightgrey 1px solid;
  padding: 2px;
}

.trigram-name, .trigram-translated {
  display:block;
  font-size:13px;
}

.trigram.above {
  margin-top:2px
}

.trigram.below{
  border-bottom: lightgrey 1px solid;
}

.hexa-info {
  height:83px;
  width:295px;
  position:relative;
}

.hexa-info img {
  float: left;
}

.dialog {
  position:absolute;
  top:0px;
  left:0px;
  z-index: 99;
  background-color: rgba(200,200,200,0.9);
  bottom:-600px;
  right:0px;
  
}

.dialog-content {
  background-color: white;
  max-width:300px;
  padding:0.5em;
  margin:0px auto;
  position:relative;
}

.dialog-text {
  font-size:1.4em;
}

@media (min-width: 512px) {
  .dialog-content {
    max-width:512px;
  }
  
  .question-form textarea {
    width: 512px;
  }
  
}

.hexa-svg {
  float:left;
}

.jj-picture {
  width:150px;
  height:150px;
  background: url('/img/yy.png') no-repeat;
  background-size: 150px 150px;
  margin: 0px auto;
}

.counter {
  font-weight:bold;
  font-size: 13px;
  position:relative;
}

.counter.jang {
  top:30px
}

.counter.jin {
  top:87px;
  color:white;
}

ol.instructions {
  list-style-position:  inside;
  padding: 0;
}

img.icon {
  width: 2em;
  vertical-align: middle;
}